<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FIRE</title>
  <link rel="stylesheet" href="/css/login/style.css">
  <link rel="stylesheet" href="/css/login/login.css">
  <link rel="stylesheet" href="/css/login/error.css">
</head>

<body style="background: #0e0f10;">
  <section id="loginSection">
    <h1>Sign In</h1>
    <form action="/login" method='POST'>
      <input class="roundRectangle typeInput" style="width:300px;background-color:#222222;color:#fff;" placeholder="Username" type="text" id="username"
        name="username" value=""><br>
      <input class="roundRectangle typeInput" style="width:300px;background-color:#222222;color:#fff;" placeholder="Password" type="password" id="password"
        name="password" value=""><br><br>
      <input id="loginButton" type="submit" value="Login" style="background: #d18f22;">
    </form>
  </section>
  <%if (error != "") { %>
  <div id="errorMessage">
    <span id="errorIcon">
      <p>&times;</p>
    </span>
    <p><%=error%></p>
  </div>
  <% } %>
</body>
</html>