
* {
    outline: 0;
    font-family: sans-serif;
    font-family: Helvetica;
    font-size: 14px;
    color: white
}

#tables {
    margin: 40px;
} 

#topNav {
    position: relative;
    height: 80px;
    /* overflow: hidden; */
    /* background-color: white; */
}

/* //this is the logo */
/* img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    max-width: 300px;
    height: auto;
}  */

#leoLogo {
    margin: 0;
    position: absolute;
    top: 40px;
    left: 40px;
    /* transform: translate(-50%, -50%); */

    width: 100%;
    max-width: 250px;
    height: auto;
} 

#poolsTable, #testPoolsTable {
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

td {
    padding: 15px 0px 15px 0px;
}

tr {
    /* background-color: #3E588C; */
    border-top: 1px solid #4874b3;
    border-bottom: 1px solid #4874b3;
    height: 40px;
}

tbody tr:first-child {
    border-top: none;
}

tbody tr:last-child {
    border-bottom: none;
}


tbody th:nth-child(1) {
    width: 30%;
}

tbody th:nth-child(2) {
    width: 35%;
}

tbody th:nth-child(3) {
    width: 15%;
}

tbody th:nth-child(4) {
    width: 10%;
}

tbody th:nth-child(5) {
    width: 5%;
}


/* tbody tr td:nth-child(1) {
    width: 30%;
}

tbody tr td:nth-child(2) {
    width: 35%;
}

tbody tr td:nth-child(3) {
    width: 15%;
}

tbody tr td:nth-child(4) {
    width: 15%;
}

*/
/* release */
tbody tr td:nth-child(5) {
    /* width: 5%; */
    position: relative;
} 


th,
tr,
td {
    text-align: left;
    /* padding: 0px 20px 0px 20px; */
}

table {
    width: 100%;
    border-collapse: collapse;
}

.roundRectangle {
    width: 200px;
    height: 55px;
    border: none;
    padding-left: 20px;
    border-radius: 8px;
    color: black;
}

h1 {
    font-size: 2.3em;
}

/* tr {
    background-color: #3E588C;
}

tr:nth-child(even) {
    background-color: #5673AF;
} */

.typeInput {
    padding: 0 0 0 20px;
    background-color: #222222;
    color: #fff;
    -webkit-transition: -webkit-box-shadow .2s ease-in-out;
    transition: -webkit-box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  }
  
  .typeInput:focus {
    -webkit-box-shadow: 0 0 0px 1px #fff;
            box-shadow: 0 0 0px 1px #fff;
  }
  